.react-tabs__tab--selected {
    background-color: #004085 !important;
    color: white !important;
    border-radius: 5px 5px 0 0 !important;
    border: none !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.react-tabs__tab {
    background-color: #007BFF; /* Default tab color */
    color: white; /* Default text color */
    border: 2px solid #004085;
    border-bottom: none;
    border-radius: 5px 5px 0 0; /* Rounded top corners */
    padding: 10px 20px; /* Spacing inside the tab */
    text-align: center;
    width: 120px; /* Fixed width for uniformity */
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.react-tabs__tab:hover {
    background-color: #004085; /* Hover color */
    color: white;
}

.react-tabs__tab-list {
    display: flex;
    justify-content: center; /* Center align the tabs */
    border-bottom: 2px solid #004085; /* Border at the bottom of the tab list */
    background-color: #007BFF; /* Background color for the tab list */
}

.react-tabs__tab:focus:after {
    display: none; /* Remove focus outline */
}

.react-tabs ul {
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

@media (max-width: 575.98px) {
    .react-tabs__tab {
        flex: 1; /* Allow tabs to take equal space */
        width: auto; /* Adjust width for mobile */
    }
}

@keyframes tabSelectAnimation {
    0% {
        background-color: #007BFF;
        color: white;
    }
    100% {
        background-color: #004085;
        color: white;
    }
}

.react-tabs__tab--selected {
    animation: tabSelectAnimation 0.5s ease-in-out;
}

@media (max-width: 575.98px) {
    .react-tabs ul {
        display: flex;
        flex-wrap: wrap !important;
        justify-content: center;
    }
}